*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/brick-bg-2.png);
	background-size: cover 100%; 
	background-repeat: none;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: arial, sans-serif;
}

a{
	text-decoration: none;
	color: black;	
}


.box{
	max-width: 1020px;
	margin: 0 auto;
}
/*----------------------------------------------*/
/*-----header-----*/
/*Обратная связь*/

/*/Обратная связь*/



/*----------------------------------------------*/
header> .box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
	}
/*--------------------------------------*/

	.menu-top li{
		display: inline-block;
		padding: 15px 0;
		margin-right: 20px;
	}
		.menu-top li a,
		.call-back-btn{
			font-weight: bolder;
			font-size: 1.3em;
			font-family: arial;
			transition: .8s;
			color: #155396;
		}
			.menu-top li a:hover,
			.call-back-btn:hover{
				color: red;
				transition: .8s;
			}
	.call-back-btn{
		text-transform: uppercase;
		cursor: pointer;
	}

/*---LOGO---*/
.logo{
	display: block;
	background-image: url(../img/logo.png);
	width: 200px;
	height: 100px;
	transition: .9s;
}
	
	.logo:hover{
		background-image: url(../img/logo-bg.png);
		transform: scale(1.03, 1.03);
		border-radius: 6px;
		width: 200px;
		height: 100px;
	}

/*---/LOGO---*/


	.call-nuber{
		display: flex;
		align-items: center;
	}
		.call-nuber img{
			max-width: 100%;
			margin-right: 15px;
		}
		.number a{
			font-size: 1.5em;
			display: block;
			font-family: arial;
			font-weight: bold;
			transition: .9s;
		}
			.number a:hover{
				color: #155396;
				transform: scale(1.02, 1.02);
				transition: .9s;
			}

	.social-link{
		text-align: center;
		margin-top: 15px;
	}
		.social-link a{
			margin-left: 20px;

		}
		.social-link img{
			width: 40px;
			transition: .9s;
		}
			.social-link img:hover{
				transform: scale(1.05, 1.05);
				transition: .9s;
			}
		
		
	

.loc-block{
	display: flex;
}
	.loc-block p{
		font-family: arial;
		font-size: 1.2em;
		padding-bottom: 7px;
	}
	.loc{
		margin-right: 15px;
	}

nav{
	background: #DF354B;
	margin-top: 20px;
	display: flex;
	align-items: center;
}
	.menu-main{
		max-width: 1020px;
		margin: 0 auto;
		display: flex;

	}

		.menu-main li {
			color: #fff;
			display: inline-block;
			padding: 25px 0;
			margin-right: 3em;
			transition: .7s;
		}
			.menu-main li a{
				font-weight: bolder;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				color: #fff;
				padding: 20px 10px;
				transition: .8s;
				font-size: 1.05em;
				text-transform: uppercase;
				text-align: center;
			}
				.menu-main li a:hover{
					transition: .7s;
					border-top: solid 5px #155396;
				}
	.sliky{
		position: fixed;
		top: -20px;
		width: 100%;
		z-index: 10001;
	}

	



/*-----/header-----*/


/*------main-----*/
main{
	flex: 1 0 auto;
}
	main h1{
		text-align: center;
		margin: 40px 0;
		font-size: 1.5em;
		padding-bottom: 10px;
		border-bottom: solid 1.5px;
		text-transform: uppercase;
	}
		

.content{
	font-size: 1.19em;
	line-height: 1.5em;
	margin-bottom: 50px;
	padding-bottom: 30px;
}	

.content:last-child{
	border-bottom: none;
}
	.content p{
		margin-bottom: 20px;
	}
	.content img{
		float: right;
	}	

	.content ul{
		margin: 20px 0 20px 40px;
	}
	.content a{
		font-size: 1.1em;
		color: #DF354B;
	}
		.content p a:hover{
			transform: scale(1.02, 1.02);
			display: inline-block;
			transition: 0.9s;
		}
	
		
			
/*slide*/
	.slider {
		height: 500px;
	}	
		.slider a{
			position: relative;
		}
		.slider img{
			display: block;
			width: 100%;
		}

		.slick-prev,
		.slick-next{
			width: 10%;
			transition: .7s;
		}
		.slick-prev
		{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
			.slick-prev:before,
			.slick-next:before{
				font-size: 2rem;
				display: none;
			}

			.slick-prev:hover,
			.slick-next:hover{
				background: rgba(0,0,0,.3);
				transition: .7s;
			}
			.slick-prev:hover:before,
			.slick-next:hover:before{
				display: block;
				opacity: .5;
				transition: .7s;
			}
		
		.slick-dots{
			bottom: 10px;
		}
			.slick-dots li{
				margin: 0 10px;
			}

		.slick-dots li button:before{
			font-size: 15px;
			color: #fff;
			opacity: 1;
		}
		.slick-dots li.slick-active button:before{
			color: red;
			opacity: 1;
		}

/*/slide*/

/*top sales*/
.top-sales{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
	.product{
		width: 200px;
		margin-right: 10px;
		text-align: center;
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.product div{
		padding: 4px;
		margin-bottom: 40px;
		transition: .5s;
	}
		.product div:hover{
			transform: scale(1.01, 1.01);
			transition: .5s;
			color: red;
		}
	.product img{
		width: 100%;
		display: block;
	}
	.product p{
		margin: 20px 0 10px 0;
		font-family: arial, sans-serif;
		text-transform: uppercase;
		font-size: 1em;
	}
	.product span{
		text-transform: uppercase;
		font-size: 2em;
	}

/*/top*/

/*------/main-----*/


/*-----footer-----*/
footer{
	background: #404040;
	color: #fff;
	margin-top: 50px;
}
footer .box{
	padding: 35px 0;
	display: flex;
	justify-content: space-between;

}

	.foot-left ul{
		list-style-type: none;
		display: flex;
		margin-bottom: 30px;
	}
		.foot-left ul li{
			margin-right: 15px;
		}
			.foot-left ul a{
				color: #fff;
				font-weight: bold;
				font-size: 1.3em;
				transition: .9s;
			}
				.foot-left ul a:hover{
					color: #155396;
					transition: .9s;
				}

		.foot-adress p{
			font-size: 15px;
			line-height: 1.9em;
			color: #9c9b9b;
		}
	
	.foot-right h2{
		font-size: 1.3em;
		text-transform: uppercase;
	}
	.foot-right ul{
		list-style-type: none;
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
		.foot-right ul li{
			margin-right: 15px;
		}

	.copy{
		border-top: solid 2px #fff;
		text-transform: uppercase;
		padding: 30px 0;
		margin-top: 20px;
	}
/*-----/footer-----*/



/*----------------------------Кнопка на верх----------------------------*/
.btn-up{
	position: fixed;
	bottom: -70px;
	transition: .4s;
	right: 70px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: solid 1px #333;
	background: #333;
	z-index: 100;
	outline: 0!important; 
	cursor: pointer;
}
.btn-up:after{
	content: '';
	width: 10px;
	height: 10px;
	border-top: solid 2px #ccc;
	border-left:solid 2px #ccc;
	transform: rotate(45deg);
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.btn-up:hover{
	transform: rotate(360deg);
	transition: 1.2s;
}
.btn-up.active{
	bottom: 50px;
}











